In [1]:
code, page_size, page = ('KOSPI', 20, 1)
url = 'https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?code={}&pageSize={}&page={}'.format(code, page_size, page)

In [2]:
response = requests.get(url)
response

In [3]:
response.json()

{'result': {'siseList': [{'cd': 'KOSPI',
    'dt': '20201030',
    'ncv': 2312.21,
    'cv': -14.46,
    'cr': -0.62,
    'ov': 2319.56,
    'hv': 2320.2,
    'lv': 2310.66},
   {'cd': 'KOSPI',
    'dt': '20201029',
    'ncv': 2326.67,
    'cv': -18.59,
    'cr': -0.79,
    'ov': 2312.34,
    'hv': 2330.17,
    'lv': 2299.91},
   {'cd': 'KOSPI',
    'dt': '20201028',
    'ncv': 2345.26,
    'cv': 14.42,
    'cr': 0.62,
    'ov': 2324.18,
    'hv': 2345.46,
    'lv': 2316.47},
   {'cd': 'KOSPI',
    'dt': '20201027',
    'ncv': 2330.84,
    'cv': -13.07,
    'cr': -0.56,
    'ov': 2328.66,
    'hv': 2349.33,
    'lv': 2321.23},
   {'cd': 'KOSPI',
    'dt': '20201026',
    'ncv': 2343.91,
    'cv': -16.9,
    'cr': -0.72,
    'ov': 2366.5,
    'hv': 2374.5,
    'lv': 2342.58},
   {'cd': 'KOSPI',
    'dt': '20201023',
    'ncv': 2360.81,
    'cv': 5.76,
    'cr': 0.24,
    'ov': 2364.84,
    'hv': 2368.57,
    'lv': 2344.49},
   {'cd': 'KOSPI',
    'dt': '20201022',
    'ncv': 2355.05,
    'cv': -15.81,
    'cr': -0.67,
    'ov': 2355.61,
    'hv': 2360.22,
    'lv': 2339.73},
   {'cd': 'KOSPI',
    'dt': '20201021',
    'ncv': 2370.86,
    'cv': 12.45,
    'cr': 0.53,
    'ov': 2363.03,
    'hv': 2371.74,
    'lv': 2356.32},
   {'cd': 'KOSPI',
    'dt': '20201020',
    'ncv': 2358.41,
    'cv': 11.67,
    'cr': 0.5,
    'ov': 2333.56,
    'hv': 2358.41,
    'lv': 2322.06},
   {'cd': 'KOSPI',
    'dt': '20201019',
    'ncv': 2346.74,
    'cv': 5.21,
    'cr': 0.22,
    'ov': 2352.92,
    'hv': 2364.25,
    'lv': 2344.77}]},
 'resultCode': 'success'}

In [5]:
data = response.json()['result']['siseList']

In [8]:
kospi_df = pd.DataFrame(data)
kospi_df.tail()

      cd        dt      ncv     cv    cr       ov       hv       lv
5  KOSPI  20201023  2360.81   5.76  0.24  2364.84  2368.57  2344.49
6  KOSPI  20201022  2355.05 -15.81 -0.67  2355.61  2360.22  2339.73
7  KOSPI  20201021  2370.86  12.45  0.53  2363.03  2371.74  2356.32
8  KOSPI  20201020  2358.41  11.67  0.50  2333.56  2358.41  2322.06
9  KOSPI  20201019  2346.74   5.21  0.22  2352.92  2364.25  2344.77

In [9]:
def get_stock_data(code, page_size=20, page=1):
    url = 'https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?code={}&pageSize={}&page={}'.format(code, page_size, page)
    response = requests.get(url)
    response.json()
    data = response.json()['result']['siseList']
    
    return pd.DataFrame(data)

In [12]:
kosdaq_df = get_stock_data('KOSDAQ')
kosdaq_df.tail()

        cd        dt     ncv     cv    cr      ov      hv      lv
15  KOSDAQ  20201008  871.62   1.96  0.23  875.12  875.59  867.63
16  KOSDAQ  20201007  869.66   7.08  0.82  856.70  869.69  856.66
17  KOSDAQ  20201006  862.58   4.19  0.49  863.74  866.67  855.65
18  KOSDAQ  20201005  858.39  10.24  1.21  848.67  858.82  843.06
19  KOSDAQ  20200929  848.15  12.24  1.46  844.69  848.59  839.68

In [34]:
code, page_size, page = ('FX_USDKRW', 20, 1)
url = 'https://m.stock.naver.com/api/json/marketindex/marketIndexDay.nhn?marketIndexCd={}&pageSize={}&page={}'.format(code, page_size, page)
print(url)

https://m.stock.naver.com/api/json/marketindex/marketIndexDay.nhn?marketIndexCd=FX_USDKRW&pageSize=20&page=1

In [35]:
params = {'cookie': 'NNB=YSH46P4QGFHV6; _ga=GA1.2.899405456.1599025618; NID_AUT=tMhtTzU70U0efIsuL3IwkyWTXteBY7BLpuujW6H5ThY09kGdF77TEN2wbE9XnHSp; NID_JKL=7k02H9VgseAo+S6pMx4aX7ivSFSbRRUpV77pMtFUNRM=; NaverSuggestUse=use%26unuse; _fbp=fb.1.1600776580387.1901428210; nx_ssl=2; ASID=6af24fe6000001754dcb715f0000006c; NRTK=ag#20s_gr#0_ma#-2_si#-1_en#-2_sp#-2; NDARK=Y; NID_SES=AAABorWz+pqGSDGG37Tgd+sVDHOM6viPgh8kuAE32LFuFjF9RXmxjBy3LcNMf4PmETxWN+G+8Qi18s+c3t23aP/qX2ZFLpb4uaV5aKrBPP2MbhyDDFKUX6bL6xZfwHMQHYSryyNIQv7VziX1rTVZVxs+iDjCix5BjOokp9FoLZZ5Rh206A80UsLu44jkLW0dxI4GoIhuMkgbmFH2eageMn3AlmXD5M5hMSUvi6NxZUgtSabArzWPzUfUxa8DcmpJfsAZlnzI2l+OVzLIbAryXwFAGPiZSxjJKgUT4OJsjUdS16SfHnMJnruXMsi4aDsMQWJLr3OH9XiCAAz+gMPAT+tgM9aIoAtNc7FAX3uDT48GLZlKh1Ykz2RZUcJPiNbO5iEAwiz1ykIoGXzewScKa14KQRQ5xAH++8GyLfj2CN8xm/R1SPrNb8VJn2WJRmqIoJV+967F2QewR812z1i6Qiwl5AsEkhuxNqkNdL1l6B0XKKVrbimelcg8PAxaaCKSVD2TtSqFVxA6nnPRBkXhvOf5aq6EV0EVy4DDctDRsnqvhbbGxRNZ9ChFL9Hb80M3xfJH+Q==; XSRF-TOKEN=cb1ab3cf-5177-48bd-b044-3e9c74861c64; JSESSIONID=710C2B8D9E52C3150688263C8BF8664E; BMR='}
response = requests.get(url, headers=params)
response

In [37]:
datas = response.json()['result']['marketIndexDay']
datas

[{'dt': '20201030',
  'nv': 1131.7,
  'cv': -2.8,
  'cr': -0.25,
  'cbv': 1151.5,
  'csv': 1111.9,
  'sv': 1142.7,
  'rv': 1120.7},
 {'dt': '20201029',
  'nv': 1134.5,
  'cv': 1.0,
  'cr': 0.09,
  'cbv': 1154.35,
  'csv': 1114.65,
  'sv': 1145.6,
  'rv': 1123.4},
 {'dt': '20201028',
  'nv': 1133.5,
  'cv': 7.0,
  'cr': 0.62,
  'cbv': 1153.33,
  'csv': 1113.67,
  'sv': 1144.6,
  'rv': 1122.4},
 {'dt': '20201027',
  'nv': 1126.5,
  'cv': -3.5,
  'cr': -0.31,
  'cbv': 1146.21,
  'csv': 1106.79,
  'sv': 1137.5,
  'rv': 1115.5},
 {'dt': '20201026',
  'nv': 1130.0,
  'cv': 1.5,
  'cr': 0.13,
  'cbv': 1149.77,
  'csv': 1110.23,
  'sv': 1141.0,
  'rv': 1119.0},
 {'dt': '20201023',
  'nv': 1128.5,
  'cv': -6.5,
  'cr': -0.57,
  'cbv': 1148.24,
  'csv': 1108.76,
  'sv': 1139.5,
  'rv': 1117.5},
 {'dt': '20201022',
  'nv': 1135.0,
  'cv': 1.5,
  'cr': 0.13,
  'cbv': 1154.86,
  'csv': 1115.14,
  'sv': 1146.1,
  'rv': 1123.9},
 {'dt': '20201021',
  'nv': 1133.5,
  'cv': -5.5,
  'cr': -0.48,
  'cbv': 1153.33,
  'csv': 1113.67,
  'sv': 1144.6,
  'rv': 1122.4},
 {'dt': '20201020',
  'nv': 1139.0,
  'cv': -1.0,
  'cr': -0.09,
  'cbv': 1158.93,
  'csv': 1119.07,
  'sv': 1150.1,
  'rv': 1127.9},
 {'dt': '20201019',
  'nv': 1140.0,
  'cv': -6.0,
  'cr': -0.52,
  'cbv': 1159.95,
  'csv': 1120.05,
  'sv': 1151.1,
  'rv': 1128.9},
 {'dt': '20201016',
  'nv': 1146.0,
  'cv': -1.5,
  'cr': -0.13,
  'cbv': 1166.05,
  'csv': 1125.95,
  'sv': 1157.2,
  'rv': 1134.8},
 {'dt': '20201015',
  'nv': 1147.5,
  'cv': 1.0,
  'cr': 0.09,
  'cbv': 1167.58,
  'csv': 1127.42,
  'sv': 1158.7,
  'rv': 1136.3},
 {'dt': '20201014',
  'nv': 1146.5,
  'cv': 0.5,
  'cr': 0.04,
  'cbv': 1166.56,
  'csv': 1126.44,
  'sv': 1157.7,
  'rv': 1135.3},
 {'dt': '20201013',
  'nv': 1146.0,
  'cv': -4.0,
  'cr': -0.35,
  'cbv': 1166.05,
  'csv': 1125.95,
  'sv': 1157.2,
  'rv': 1134.8},
 {'dt': '20201012',
  'nv': 1150.0,
  'cv': -2.5,
  'cr': -0.22,
  'cbv': 1170.12,
  'csv': 1129.88,
  'sv': 1161.2,
  'rv': 1138.8},
 {'dt': '20201008',
  'nv': 1152.5,
  'cv': -6.0,
  'cr': -0.52,
  'cbv': 1172.66,
  'csv': 1132.34,
  'sv': 1163.7,
  'rv': 1141.3},
 {'dt': '20201007',
  'nv': 1158.5,
  'cv': -3.0,
  'cr': -0.26,
  'cbv': 1178.77,
  'csv': 1138.23,
  'sv': 1169.8,
  'rv': 1147.2},
 {'dt': '20201006',
  'nv': 1161.5,
  'cv': 1.0,
  'cr': 0.09,
  'cbv': 1181.82,
  'csv': 1141.18,
  'sv': 1172.8,
  'rv': 1150.2},
 {'dt': '20201005',
  'nv': 1160.5,
  'cv': -8.5,
  'cr': -0.73,
  'cbv': 1180.8,
  'csv': 1140.2,
  'sv': 1171.8,
  'rv': 1149.2},
 {'dt': '20200929',
  'nv': 1169.0,
  'cv': -1.0,
  'cr': -0.09,
  'cbv': 1189.45,
  'csv': 1148.55,
  'sv': 1180.4,
  'rv': 1157.6}]

In [38]:
usd_df = pd.DataFrame(datas)
usd_df.tail()

          dt      nv   cv    cr      cbv      csv      sv      rv
15  20201008  1152.5 -6.0 -0.52  1172.66  1132.34  1163.7  1141.3
16  20201007  1158.5 -3.0 -0.26  1178.77  1138.23  1169.8  1147.2
17  20201006  1161.5  1.0  0.09  1181.82  1141.18  1172.8  1150.2
18  20201005  1160.5 -8.5 -0.73  1180.80  1140.20  1171.8  1149.2
19  20200929  1169.0 -1.0 -0.09  1189.45  1148.55  1180.4  1157.6

In [40]:
merge_df_1 = pd.merge(kospi_df, kosdaq_df, left_on='dt', right_on='dt')
merge_df_1.tail()

,cd_x,dt,ncv_x,cv_x,cr_x,ov_x,hv_x,lv_x,cd_y,ncv_y,cv_y,cr_y,ov_y,hv_y,lv_y
5,KOSPI,20201023,2360.81,5.76,0.24,2364.84,2368.57,2344.49,KOSDAQ,807.98,-4.72,-0.58,817.70,817.70,804.75
6,KOSPI,20201022,2355.05,-15.81,-0.67,2355.61,2360.22,2339.73,KOSDAQ,812.70,-17.97,-2.16,826.71,826.71,812.70
7,KOSPI,20201021,2370.86,12.45,0.53,2363.03,2371.74,2356.32,KOSDAQ,830.67,6.02,0.73,827.35,830.95,819.66
8,KOSPI,20201020,2358.41,11.67,0.50,2333.56,2358.41,2322.06,KOSDAQ,824.65,2.40,0.29,816.16,825.96,803.24
9,KOSPI,20201019,2346.74,5.21,0.22,2352.92,2364.25,2344.77,KOSDAQ,822.25,-11.59,-1.39,836.83,838.63,821.50

In [44]:
merge_df_1 = merge_df_1.rename(columns={'ncv_x':'ncv_kospi', 'ncv_y':'ncv_kosdaq'})
merge_df_1 = merge_df_1[['dt', 'ncv_kospi', 'ncv_kosdaq']]
merge_df_1.tail()

         dt  ncv_kospi  ncv_kosdaq
5  20201023    2360.81      807.98
6  20201022    2355.05      812.70
7  20201021    2370.86      830.67
8  20201020    2358.41      824.65
9  20201019    2346.74      822.25

In [43]:
merge_df = pd.merge(usd_df, merge_df_1)[['dt', 'ncv_kospi', 'ncv_kosdaq', 'nv']]
merge_df.tail()

         dt  ncv_kospi  ncv_kosdaq      nv
5  20201023    2360.81      807.98  1128.5
6  20201022    2355.05      812.70  1135.0
7  20201021    2370.86      830.67  1133.5
8  20201020    2358.41      824.65  1139.0
9  20201019    2346.74      822.25  1140.0

In [47]:
from fake_useragent import UserAgent

In [49]:
UserAgent().chrome

'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2225.0 Safari/537.36'

In [51]:
url = 'https://finance.daum.net/api/exchanges/summaries'
headers = {
    'user-agent' : UserAgent().chrome,
    'referer' : 'https://finance.daum.net/exchanges'
}
response = requests.get(url, headers=headers)
response

In [55]:
data = response.json()['data']

In [56]:
result_df = pd.DataFrame(data)
result_df.tail()

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
37,FRX.KRWMNT,2020-10-30 11:06:18,MNT,투그릭,1,몽골,"{'korName': '아시아', 'engName': 'Asia'}",몽골 (KRW/MNT),110,0.40,...,0.000000,0.00,0.00,0.00,0.00,None,None,14.975,0.0004,{'day': 'https://t1.daumcdn.net/finance/chart/...
38,FRX.KRWCZK,2020-10-30 11:06:18,CZK,코루나,1,체코,"{'korName': '유럽', 'engName': 'Europe'}",체코 (KRW/CZK),110,48.14,...,0.007218,52.23,43.81,47.62,48.66,None,None,2.325,0.0427,{'day': 'https://t1.daumcdn.net/finance/chart/...
39,FRX.KRWKZT,2020-10-30 11:06:18,KZT,텡게,1,카자흐스탄,"{'korName': '아시아', 'engName': 'Asia'}",카자흐스탄 (KRW/KZT),110,2.61,...,0.003817,0.00,0.00,0.00,0.00,None,None,13.475,0.0023,{'day': 'https://t1.daumcdn.net/finance/chart/...
40,FRX.KRWQAR,2020-10-30 11:06:19,QAR,리얄,1,카타르,"{'korName': '중동', 'engName': 'Middle East'}",카타르 (KRW/QAR),110,309.83,...,0.005457,0.00,0.00,0.00,0.00,None,None,2.215,0.2746,{'day': 'https://t1.daumcdn.net/finance/chart/...
41,FRX.KRWTRY,2020-10-30 11:06:19,TRY,리라,1,터키,"{'korName': '중동', 'engName': 'Middle East'}",터키 (KRW/TRY),110,135.66,...,0.005498,0.00,0.00,134.17,137.15,None,None,18.075,0.1202,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [57]:
from bs4 import BeautifulSoup

In [58]:
query = '삼성전자'
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query={}'.format(query)

In [59]:
response = requests.get(url)

In [61]:
dom = BeautifulSoup(response.content, 'html.parser')

In [67]:
elements = dom.select('.lst_related_srch > li')
len(elements), elements[0]

(10,
 <li class="item"> <a class="keyword" href="?where=nexearch&amp;query=%EC%82%BC%EC%84%B1&amp;ie=utf8&amp;sm=tab_she&amp;qdt=0" onclick="return goOtherCR(this, 'a=rsk_top*q.list1&amp;r=1&amp;u=' + urlencode(this.href))"> <div class="tit">삼성</div> </a> </li>)

In [69]:
keywords = []
for element in elements:
    keywords.append(element.text.strip())

keywords

['삼성',
 '삼성물산',
 '삼성전자우',
 '카카오',
 '삼성주식',
 '삼성생명',
 '빅히트',
 'sk 하이닉스',
 '현대자동차',
 '현대차']

In [72]:
keywords = [element.text.strip() for element in elements]
keywords

['삼성',
 '삼성물산',
 '삼성전자우',
 '카카오',
 '삼성주식',
 '삼성생명',
 '빅히트',
 'sk 하이닉스',
 '현대자동차',
 '현대차']

In [74]:
def naver_relate_keywords(query):
    url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query={}'.format(query)
    response = requests.get(url)
    dom = BeautifulSoup(response.content, 'html.parser')
    elements = dom.select('.lst_related_srch > li')
    
    return [element.text.strip() for element in elements]

In [75]:
query = '파이썬'
result = naver_relate_keywords(query)
result

['파이썬 자격증',
 '파이썬 독학',
 '파이썬 다운로드',
 '파이썬 설치',
 'python',
 '파이썬 학원',
 'c언어',
 '파이썬 책',
 '파이썬 다운',
 '파일썬']

In [81]:
url = 'https://news.daum.net/'
response = requests.get(url)
dom = BeautifulSoup(response.content, 'html.parser')

In [82]:
elements = dom.select('.list_headline > li')
len(elements), elements[0]

(15,
 <li class="item_main">
 <a class="link_cont" data-tiara-custom="contentUniqueKey=hamny-20201030171002256" data-tiara-id="20201030171002256" data-tiara-layer="photo" data-tiara-ordnum="1" data-tiara-type="harmony" href="https://news.v.daum.net/v/20201030171002256">
 <span class="wrap_thumb">
 <img alt="특례시가 뭐길래..지자체 격론, 그 뒤엔 '세수'" class="thumb_g" src="https://img1.daumcdn.net/thumb/S189x104ht.u/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fnews%2F202010%2F30%2Fked%2F20201030171003873hqht.jpg&amp;scode=media"/>
 </span>
 <strong class="tit_g">특례시가 뭐길래..지자체 격론, 그 뒤엔 '세수'</strong>
 </a>
 </li>)

In [84]:
datas = []
for element in elements:
    datas.append({
        "title" : element.select_one('.tit_g').text,
        "link" : element.select_one('a').get('href')
    })
datas

[{'title': "특례시가 뭐길래..지자체 격론, 그 뒤엔 '세수'",
  'link': 'https://news.v.daum.net/v/20201030171002256'},
 {'title': "\n재판 참여한 변호사 확진에 의정부지법도 '비상'\n연합뉴스\n",
  'link': 'https://news.v.daum.net/v/20201030170158008'},
 {'title': '\n日 자위대 "동중국해서 14만명 대규모 동원 훈련 검토"\n세계일보\n',
  'link': 'https://news.v.daum.net/v/20201030170135995'},
 {'title': '\n인권위 국감서 \'박원순 의혹\' 충돌..최영애 "12월말 결과 예상"\n뉴시스\n',
  'link': 'https://news.v.daum.net/v/20201030170116987'},
 {'title': '\n"방향제·향수 향에 과다 노출 땐 성조숙증 가능성"\n연합뉴스\n',
  'link': 'https://news.v.daum.net/v/20201030170022956'},
 {'title': '바이든 한반도정책 구상은..동맹강화, 원칙 입각 북핵 접근',
  'link': 'https://news.v.daum.net/v/20201030170918247'},
 {'title': '\n"사용후핵연료 중간·영구처분시설 다 필요" 시민의견 39%→64%\n뉴스1\n',
  'link': 'https://news.v.daum.net/v/20201030170013950'},
 {'title': "\n'자본금 불법충당' MBN 6개월 업무정지..승인취소는 모면\n연합뉴스\n",
  'link': 'https://news.v.daum.net/v/20201030170006939'},
 {'title': "\n충남 공주·논산 주유소 2곳서 주유한 차량 무더기로 '고장'\n연합뉴스\n",
  'link': 'https://news.v.daum.net/v/20201030165803885'},
 {'title': '\n중국, 폼페이오의 "종교 박해" 비난에 "미국 무슬림이 걱정"\n연합뉴스\n',
  'link': 'https://news.v.daum.net/v/20201030165704856'},
 {'title': '토요일 서리 내리고 큰 일교차..11월 첫날엔 오랜만에 비소식',
  'link': 'https://news.v.daum.net/v/20201030170556133'},
 {'title': "\n'창녕맘 몰카 보안관제'..군, 주민참여 예산 사업비 28억 확정\n연합뉴스\n",
  'link': 'https://news.v.daum.net/v/20201030165426778'},
 {'title': '\n野싱크탱크에 불려간 與 경제통 최운열.."브릿지 되겠다"\n연합뉴스\n',
  'link': 'https://news.v.daum.net/v/20201030165112698'},
 {'title': '\nMB 유죄에 與 일각 "억울한 정봉주에 무죄를"\n연합뉴스\n',
  'link': 'https://news.v.daum.net/v/20201030165109697'},
 {'title': '\n삼성전자 노사, 내달 3일 상견례..공동교섭단 첫 단체교섭 시작\n연합뉴스\n',
  'link': 'https://news.v.daum.net/v/20201030165027677'}]

In [86]:
articles_df = pd.DataFrame(datas)
articles_df.tail()

,title,link
10,토요일 서리 내리고 큰 일교차..11월 첫날엔 오랜만에 비소식,https://news.v.daum.net/v/20201030170556133
11,"\n'창녕맘 몰카 보안관제'..군, 주민참여 예산 사업비 28억 확정\n연합뉴스\n",https://news.v.daum.net/v/20201030165426778
12,"\n野싱크탱크에 불려간 與 경제통 최운열..""브릿지 되겠다""\n연합뉴스\n",https://news.v.daum.net/v/20201030165112698
13,"\nMB 유죄에 與 일각 ""억울한 정봉주에 무죄를""\n연합뉴스\n",https://news.v.daum.net/v/20201030165109697
14,"\n삼성전자 노사, 내달 3일 상견례..공동교섭단 첫 단체교섭 시작\n연합뉴스\n",https://news.v.daum.net/v/20201030165027677

In [90]:
link = articles_df['link'][0]

In [91]:
response = requests.get(link)
dom = BeautifulSoup(response.content, 'html.parser')

In [94]:
content = dom.select_one('#harmonyContainer').text.strip().replace('\n', '')

In [95]:
def get_content(link):
    response = requests.get(link)
    dom = BeautifulSoup(response.content, 'html.parser')
    return dom.select_one('#harmonyContainer').text.strip().replace('\n', '')

In [96]:
articles_df['contents'] = articles_df['link'].apply(get_content)

In [97]:
articles_df.tail()

,title,link,contents
10,토요일 서리 내리고 큰 일교차..11월 첫날엔 오랜만에 비소식,https://news.v.daum.net/v/20201030170556133,"파란 하늘, 코스모스 (세종=연합뉴스) 박동주 기자 = 완연한 가을 날씨를 보인 3..."
11,"\n'창녕맘 몰카 보안관제'..군, 주민참여 예산 사업비 28억 확정\n연합뉴스\n",https://news.v.daum.net/v/20201030165426778,한정우 창녕군수 [창녕군 제공] (창녕=연합뉴스) 김동민 기자 =...
12,"\n野싱크탱크에 불려간 與 경제통 최운열..""브릿지 되겠다""\n연합뉴스\n",https://news.v.daum.net/v/20201030165112698,(서울=연합뉴스) 한지훈 기자 = 각종 국정과제를 두고 정부와 청와대에 쓴소리를 마...
13,"\nMB 유죄에 與 일각 ""억울한 정봉주에 무죄를""\n연합뉴스\n",https://news.v.daum.net/v/20201030165109697,정봉주 전 의원. [연합뉴스 자료사진] (서울=연합뉴스) 고동욱 ...
14,"\n삼성전자 노사, 내달 3일 상견례..공동교섭단 첫 단체교섭 시작\n연합뉴스\n",https://news.v.daum.net/v/20201030165027677,"삼성전자 노조, 조합원 모집 선전전 나서 (구미=연합뉴스) 삼성전자 노동조합 조합원..."